<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off">
  <targets>
    <default-wrapper xsi:type="AsyncWrapper"/>
    <default-target-parameters xsi:type="File" keepFileOpen="false" archiveAboveSize="10240000" archiveNumbering="Sequence"/>


    <target xsi:type="File" name="platform" fileName="${basedir}/Log/${shortdate}/platform.log"
            layout="${longdate}[${level:uppercase=true}]    ${logger}|${message}"
            />
    <target xsi:type="File" name="adapter" fileName="${basedir}/Log/${shortdate}/adapter.log"
            layout="${longdate}[${level:uppercase=true}]    ${logger}|    ${message}"
            />
    <target xsi:type="File" name="channel" fileName="${basedir}/Log/${shortdate}/channels/${logger:shortName=true}.log"
            layout="${longdate}[${level:uppercase=true}]    ${message}"
            />
    <target xsi:type="File" name="DATAS" fileName="${basedir}/../DATAS/${shortdate}/${logger:shortName=true}_${shortdate}.csv"
            layout="${message},${time}"
            />
    <target xsi:type="File" name="operation" fileName="${basedir}/Log/${shortdate}/operation.log"
            layout="${longdate}[${level:uppercase=true}]    ${logger}|${message}"
            />
    <target xsi:type="Console" name="console"
		        layout="${longdate}[${level:uppercase=true}]    ${logger}|${message}" />
  </targets>
  <rules>

    <logger name="*" minlevel="Info" writeTo="console" />
    <logger name="com.espertech*" minlevel="Info" writeTo="console" />
    <logger name="KSMM*" minlevel="Info" writeTo="adapter"/>
    <logger name="MMDashboard*" minlevel="Info" writeTo="platform"/>
    <logger name="Akka*" minlevel="Info" writeTo="platform"/>
    <logger name="MM.Framework.*" minlevel="Info" writeTo="platform"/>
    <logger name="Channel*" minlevel="Debug" writeTo="channel"/>
    <logger name="OPT" minlevel="Debug" writeTo="operation"/>
    <logger name="*mmticks" minlevel="Debug" writeTo="DATAS"/>
    <logger name="*nqticks" minlevel="Debug" writeTo="DATAS"/>
  </rules>
</nlog>